body {
	background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}

.flex-container .keys {
  	display: flex;
/*  	justify-content: center;
*/	  justify-content: space-around;
  align-items: center;
    height: 600px;




}

.key kbd {
	padding: 25px;
	margin: 10px;
	border: 1px black;
	font-family: 'Roboto', sans-serif;

}

kbd {
    padding: .2rem .4rem;
    font-size: 30px; 
    color: #fff;
    background-color: #1c3650;
    border-radius: .2rem;
    text-shadow: 0 0 5px black;
    transition: all 0.07s;
}

/*.key kbd:hover {
    box-shadow: 4px 4px #1c365082;
    border: 3px white;
    color: #feb645;
    font-weight: bold;
}*/

.playing {
	transform: scale(1:1);
	box-shadow: 4px 4px #1c365082;
    border: 3px white;
    color: #feb645;
    font-weight: bold;
}